:host([size="xs"]) { font-size: var(--size-xs); }
:host([size="sm"]) { font-size: var(--size-s); }
:host([size="md"]) { font-size: var(--size-m); }
:host([size="lg"]) { font-size: var(--size-l); }
:host([size="xl"]) { font-size: var(--size-xl); }
:host([size="3xs"]) { font-size: var(--size-3xs); }
:host([size="2xs"]) { font-size: var(--size-2xs); }
